h1{text-align:center;background-color:palegoldenrod;width:1030px;padding:20px;border-color:goldenrod;border-width:10px;border-style:groove;}

#passage{background-color:palegoldenrod;width:1090px;height:1200px;float:center}

img{width:700px;margin-left:auto;margin-right:auto;display:block;padding:40px}

p{text-align:center;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:x-large}

h3{text-align:center;font-family:Verdana, Geneva, Tahoma, sans-serif}