h1{text-align:center;background-color:lightskyblue}
a{background-color:skyblue;font-size:large;width:24.7%;;display:inline-block;text-align:center;}
a:hover{background-color:cornflowerblue;color:blue}
img{width:80%;display:block;margin-left:auto;margin-right:auto}
.column{float:left;width:49%;text-align:center;border-style:dotted;}
h2{text-align:center;font-size:x-large}
.row{width:90%;margin:auto;}