h1{text-align:center;background-color:lightskyblue;border-style:ridge;Border-width:10px;border-color:rgb(8, 245, 177);padding:15px 0px;margin-bottom:auto}
a{background-color:rgb(1, 234, 255);font-size:large;width:24.7%;;display:inline-block;text-align:center;}
a:hover{background-color:cornflowerblue;color:blue}
img{width:50%;display:block;margin-left:auto;margin-right:auto}
.column{float:left;width:49%;text-align:center;border-style:dotted;}
h2{text-align:center;font-size:x-large}
.row{width:90%;margin:auto;}
p{text-align:center;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:x-large}