
h1 {text-align: center;}
div{background-color: orange;}

   div div {background-color:red;
   width:45%;
   padding:2.5%;
   float:left
  }
   div div div{background-color: blue;}
   
   img {height: 110px}