Button {margin-left: 100px;width: 400px; height: 100px;border-radius: 20px;}
table {margin-left: 350px; Margin-top: 100px;}
td {padding-top: 100px; }
h1{width:100%;text-align:center;margin-top:150px}
h2{width:100%;text-align:center;margin-top:50px}
a{font-size:x-large;color:black}