p{text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:x-large}
li{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align:left;padding:10px;font-size:x-large;}
a{color:black;font-family:sans-serif}
a:hover{color:blue;background-color:aquamarine}